button {
  margin-top: 10px;
}

#contact-project-lead {
  border: 1px solid black;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  top: 200px;
  position: absolute;
  display: none;
}

#message {
  border: 1px solid black;
  padding: 10px;
}
