button {
  margin-top: 10px;
}

button#message-button {
  margin-left: 40%;
  margin-right: 10%;
}

#contact-project-lead {
  border: 1px solid black;
  padding: 10px;
  margin-left: 40%;
  margin-right: 1%;
  top: 200px;
  position: absolute;
  display: none;
}

#message {
  border: 1px solid black;
  padding: 10px;
}

span#close-message {
  /* change this. does weird things if the windows begins to narrow */
  float: right;
}
