<div class="container">
    <div class="row">
        <form>
            <input id="skills" type="text" name="fname">
            <input id="learning" type="text" name="lname">
            <input id="interest" type="text" name="lname">
            <input id="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="row rowUnderline projectHeader">
        <div class="projectHeader__section">
            <div class="project-list">Project List</div>
        </div>
        <div class="projectHeader__section">
            <div>
                Sort by:
                <input label="Something" type="radio"
                       aria-label="Radio button for following text input">
                Best matches
                <input type="radio" aria-label="Radio button for following text input">
                Emailed
                <input type="radio" aria-label="Radio button for following text input">
                Bookmarked
            </div>
        </div>
    </div>
    {{#each data as |project|}}
    <div class="row rowUnderline projectHeader">
        <div class="projectHeader__section">
            <div class="projName">{{project.attributes.name}}</div>
        </div>
        <div class="projectHeader__section">
            <div class="project-info">
                <span class="heading-info">Contact Project Lead</span>
                <span class="heading-info">Bookmark</span>
            </div>
        </div>

    </div>
    <div class="row rowUnderline">
        <div class="col center-cropped"
             style="background-image: url('http://placehold.it/200x200');">
            <img src={{project.attributes.thumbnailUrl}}>
        </div>
        <div class="col projDesc">
            {{project.attributes.description}}
            <br>
            <a id="accordion" href="#">more</a>
        </div>
        <div class="col col-sm-8">
            <ul>
                <li id="skills{{@index}}">
                    <span>Skills Needed:</span>
                    <div class="flex-container">
                        {{#each
                        project.attributes.matchingConfig.skillsNeeded as
                        |skill|}}
                        <span class="b badge-civic">{{skill}}</span>
                        {{/each}}
                    </div>
                </li>
                <li id="goals{{@index}}">
                    <span>Learning Opportunities:</span>
                    <div class="flex-container">
                        {{#each
                        project.attributes.matchingConfig.goalsNeeded as
                        |goal|}}
                        <span class="b badge-learn">{{goal}}</span>
                        {{/each}}
                    </div>
                </li>
                <li id="interests{{@index}}">
                    <span>Civic Interests:</span>
                    <div class="flex-container">
                        {{#each
                        project.attributes.matchingConfig.interests as
                        |interest|}}
                        <span class="b badge-contribute">{{interest}}</span>
                        {{/each}}
                    </div>

                </li>
            </ul>
        </div>
    </div>
    <div class=" panel-collapse collapse" id='collapse{{@index}}'>
        <div class="row">
            <div class="col col-sm-4">
                <div class="boldTitle">To-Do Tasks</div>
                <div>
                    <ul>
                        {{#each
                        project.attributes.matchingDescr.tasks as
                        |task|}}
                        <li>{{task}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col col-sm-4">
                <div class="boldTitle">Recent Progress

                </div>
            </div>
            <div class="co col-sm-4">
                <div class="boldTitle">Team Info</div>
                <div>
                    <ul>Project Lead:
                        {{project.attributes.matchingDescr
                        .contactName}}</ul>
                    <ul>Webpage: </ul>
                    <ul>Github Page: {{project.attributes.matchingDescr
                        .repository}}</ul>

                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <button class="changeList">Change List</button>
</div>