<div class="container">
    <div class="project-header">Project List</div>
    {{#each data as |project|}}
    <div class="flex-container">
        <div class="left">
            <div class="project-title">{{project.attributes.name}}</div>
            <div class="description">{{project.attributes.description}}</div>
            <div class="contact-btn">Contact Project Lead</div>
        </div>
        <div class="divider"></div>
        <div class="right">
            <div class="project-info">Project Needs & Interests</div>
            <div id="skills{{@index}}" class="skills">
                <div class="tag-title">Skills Needed:</div>
                <div class="tag-container">
                    {{#each
                    project.attributes.matchingConfig.skillsNeeded as
                    |skill|}}
                    <div class="tag skills-tag">{{skill}}</div>
                    {{/each}}
                </div>
            </div>
            <div id="goals{{@index}}" class="opportunities">
                <div class="tag-title">Learning Opportunities:</div>
                <div class="tag-container">
                    {{#each
                    project.attributes.matchingConfig.goalsNeeded as
                    |goal|}}
                    <div class="tag opportunities-tag">{{goal}}</div>
                    {{/each}}
                </div>
            </div>
            <div id="interests{{@index}}" class="interests">
                <div class="tag-title">Civic Interests:</div>
                <div class="tag-container">
                    {{#each
                    project.attributes.matchingConfig.interests as
                    |interest|}}
                    <div class="tag interest-tag">{{interest}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    <button class="changeList">Change List</button>
</div>