<!doctype html>
<html lang="en">
<head>
  <title>Create Project</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Create New Project</h1>

  <form>
    <div class="form-group">
  	  <label for="project-title">Project Title</label><br>
  	  <input type="text" class="form-control" id="name" required>
    </div>
    <div class="form-group">
  	  <label for="summary">Summary of your Project (200 Character Limit)</label><br>
  	  <input type="text" class="form-control" id="summary" required>
    </div>
    <div class="form-group">
  	  <label for="description">Full Description</label><br>
  	  <textarea class="form-control" id="description" rows="10" required></textarea>
    </div>
    <div class="form-group">
  	  <label for="project-status">Project Status</label><br>
  	  <input type="text" class="form-control" id="project_status" required>
    </div>
    <div class="form-group">
  	  <label for="github-repository">GitHub Repository</label><br>
  	  <input type="text" class="form-control" id="repository" required>
    </div>
    <div class="form-group">
  	  <label for="website">Website (optional)</label><br>
  	  <input type="text" class="form-control" id ="website">
    </div>
    <div class="form-group">
  	  <label for="slack-channel">Slack Channel</label><br>
  	  <input type="text" class="form-control" id="slack_channel" required>
    </div>
    <div class="form-group">
  	  <label for="slack-id">Team Lead Slack Name (for contact purposes)</label><br>
  	  <input type="text" class="form-control" id="slack_id" required>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
</body>
</html>