<div class="container">
    <div class="contact-header">Contact WeVote Project Lead</div>
    <form class="form-class">
        <div class="input-container">
            <div class='control-label'>Your Name:</div>
            <input class="form-control" type="text" name="name"
                   required>
        </div>
        <div class="input-container">
            <div class='control-label'>Your Email:</div>
            <input class="form-control"  type="email"
                   name="email" required>
        </div>
        <div class="personal-info">
            <div class="personal-message-header">Include a Personal
                Message:</div>
            <div class="personal-message-info">For example, ask a
                question or introduce yourself.</div>
            <textarea id="personal-message" name="personal-message"
                      class="slack-message"></textarea>
            <div class="attachment-title-container">
                <div class="attachment-header">Attachment</div>
                <div class="attachment-info-text">Tags not editable here. Edit the tags in the selector above.</div>
            </div>
            <div class="attachment-container">
                <div class="skills-container">
                    <div class="skills-title">Skills to contribute</div>
                    <div class="tag-container">
                        {{#each
                        this.skills.interests as
                        |interest|}}
                        <div class="tag interest-tag">{{interest}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="skills-container">
                    <div class="skills-title">Skills to learn</div>
                    <div class="tag-container">
                        {{#each
                        this.skills.learning as
                        |learning|}}
                        <div class="tag opportunities-tag">{{learning}}</div>
                        {{/each}}
                    </div>
                </div>
                <div class="skills-container">
                    <div class="skills-title">Civic Interests</div>
                    <div class="tag-container">
                        {{#each
                        this.skills.skills as
                        |skill|}}
                        <div class="tag skills-tag">{{skill}}</div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="submit-container">
            <input class="submit-btn" type="submit" value="Submit">
        </div>
    </form>
</div>