lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
HEROKU.env
heroku.*

# Dependency directory
HEROKUnode_modules
HEROKUbower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
coverage

main.css
main.css.map
.jshintrc
.jshintignore
phantomjsdriver.log
bundle.js

config/*.js
npm-debug.log
node_modules

credentials.js
