lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
.gitignore

pids
logs
results
tmp

# API keys and secrets
.env
HEROKU.env
config/*.js
../messaging/config

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
coverage

# miscellany
../messaging/config/development.js
../messaging/node_modules
../../node_modules
./themes/codeforsf/views/working
./themes/codeforsf/views/partials/working
