
<div class="container-fluid">
  
  <div class="row">
    
    <div class="col-md-1"></div>
    
    <div class="col-md-6">
      <h2>Projects</h2>
    </div>
    <div class="col-md-4" style="text-align:right;">
      {{#link-to "projects.new"}}New Project{{/link-to}}
    </div>
    
    <div class="col-md-1"></div>
      
  </div>
  
  {{outlet}}

</div>
