extends layout.jade

block content
  div(class="col-md-12")
    h1 Project Match JSON API

    div(id="app-container")
      | Please see the 
      a(href="https://github.com/designforsf/brigade-matchmaker/blob/master/docs/json-api.md", target="_new") JSON API Documentation

block script
  
