doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title Project Match API
    link(rel='stylesheet', href='/common/vendor/bootstrap-3.3.7/css/bootstrap.css')
    link(rel='stylesheet', href='/common/vendor/chosen-js-1.6.2/chosen.css')
    //link(rel='stylesheet', href='/css/styles.css')
      
  body

    //include partials/header.pug

    .container
      
      //include partials/flash.pug

      block content


    block script
