<!-- Modal -->
<div class="modal mymodal" id="minmaximizer-modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal" id="minmaximizer-button-close"> <i class='glyphicon glyphicon-remove'></i> </button>   
        <button class="close modalMinimize" id="minmaximizer-button-toggle"> <i class='glyphicon glyphicon-minus'></i> </button> 

        <h4 class="modal-title">A demo of modal with min/max options</h4>
      </div>

      <div class="modal-body"  style="padding:40px 50px;">
        <p>The content of the modal appears here</p>
      </div>

      <div class="modal-footer"  style="padding:40px 50px;">
        <p>Place the footer options like Ok, Cancel buttons here</p>
      </div>

    </div>      
  </div>
</div>
