<!-- Modal -->
<div class="modal mymodal" id="minmaximizer-modal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal" id="minmaximizer-button-close"> <i class='glyphicon glyphicon-remove'></i> </button>   
        <button class="close modalMinimize" id="minmaximizer-button-toggle"> <i class='glyphicon glyphicon-minus'></i> </button> 

        <h4 class="modal-title">{{this.title}}</h4>
      </div>

      <div class="modal-body"  style="padding:10px 10px;">
        {{this.body}}
      </div>

      <div class="modal-footer"  style="padding:10px 10px;">
        {{this.footer}}
      </div>

    </div>      
  </div>
</div>
