

#project-list-container .container {
    border: 1px solid lightgray;
    box-shadow: 2px 3px 2px #ccc;
}

#project-list-container .project-header {
    font-weight: 100;
    font-size: 1.7em;
    margin: 10px;
    font-family: sans-serif;
}

#project-list-container .divider {
    width: 2px;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

#project-list-container .flex-container{
    display: flex;
    border: 1px solid lightgray;
    margin-bottom: 25px;
    box-shadow: 2px 3px 2px #ccc;
}

#project-list-container .left {
    margin: 25px;
    width: 50%;
}

#project-list-container .right {
    margin: 25px;
    width: 50%;
}

#project-list-container .project-info {
    font-size: 1.2em;
    font-family: sans-serif;
    margin-bottom: 25px;
    font-weight: lighter;

}

#project-list-container .tag-title {
    font-family: sans-serif;
    font-size: .9em;
    font-weight: bold;
}

#project-list-container .tag-container {
    display: flex;
}

#project-list-container .tag {
    padding: 4px;
    font-family: sans-serif;
    font-size: .8em;
    margin: 5px;
    border-radius: 4px;
}

#project-list-container .skills-tag {
    border: 1px solid #AA193A;
}

#project-list-container .opportunities-tag {
    border: 1px solid #3DA1D2;
}

#project-list-container .interest-tag {
    border: 1px solid #123D51;
}

#project-list-container .project-title {
    font-size: 1.3em;
    font-family: sans-serif;
    font-weight: 400;
}

#project-list-container .description {
    margin-top: 25px;
    color: gray;
    font-size: .9em;
    color: #5E5E5E;
}

#project-list-container .contact-btn {
    background-color: #17A277;
    margin-top: 25px;
    align-items: center;
    height: 2.5em;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    color: white;
    border-radius: 3px;
}