

#taxonomy-selector-container a:hover {
  cursor: pointer;
}

#taxonomy-selector-container .item p a {
  padding:0px 0px 5px 0px;
  color: #333;
  text-decoration: underline;
}

#taxonomy-selector-container .nav-close {
  font-size: 28px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

#taxonomy-selector-container .nav-close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

#taxonomy-selector-container .container {
  background: #EEE;
  position: relative;
  padding: 10px;
}

#taxonomy-selector-container .item {
  width:  200px;
  float: left;
  border: 1px solid;
  background: #09F;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
}

#taxonomy-selector-container .item.w2 { width: 240px; }
#taxonomy-selector-container .item.w3 { width: 360px; }

#taxonomy-selector-container .item.h1 { height: 90px; }
#taxonomy-selector-container .item.h2 { height:  100px; }
#taxonomy-selector-container .item.h3 { height:  140px; }
#taxonomy-selector-container .item.h4 { height:  180px; }
#taxonomy-selector-container .item.h5 { height: 220px; }

#taxonomy-selector-container .stamp {
  background: red;
  opacity: 0.75;
  position: absolute;
  border: 1px solid;
}


/* ---- gutter ---- */

#taxonomy-selector-container #gutter {
  width: 440px;
}

#taxonomy-selector-container #gutter .item.w2 { width: 280px; }

/* ---- stamp ---- */

#taxonomy-selector-container .has-stamp .item { width: 90px; }

/* stout, in the middle */
#taxonomy-selector-container .has-stamp .stamp1 {
  width: 40px;
  height: 30px;
}

/* really wide */
#taxonomy-selector-container .has-stamp .stamp2 {
  width: 200px;
  height: 20px;
}

#taxonomy-selector-container #stamp-top-left .stamp1 {
  left: 70px;
  top: 10px;
}

#taxonomy-selector-container #stamp-top-left .stamp2 {
  left: -5px;
  top: 0;
}

#taxonomy-selector-container #stamp-column-width-multiple .stamp1 {
  width: 90px;
  left: 45px;
  top: 0;
}

#taxonomy-selector-container #stamp-bottom-right .stamp1 {
  right: 70px;
  bottom: 10px;
}

#taxonomy-selector-container #stamp-bottom-right .stamp2 {
  right: -5px;
  bottom: 0;
}

/* ---- fit width ---- */

#taxonomy-selector-container #fit-width {
  width: 160px;
  background: #CCC;
}

#taxonomy-selector-container #fit-width .container {
  margin: 0 auto;
}

/* ----  ---- */

#taxonomy-selector-container #zero-column-width .hidden {
  display: none;
}

/* ---- element-sizing ---- */

#taxonomy-selector-container #element-sizing {
  width: 181px;
}

#taxonomy-selector-container #element-sizing .item,
#taxonomy-selector-container #element-sizing .grid-sizer { width: 20%; }

#taxonomy-selector-container #element-sizing .item.w2 { width: 40%; }

/* ---- pixel-rounding ---- */

#taxonomy-selector-container #pixel-rounding {
  width: 170px;
}

#taxonomy-selector-container #pixel-rounding .item { width: 28.667%; }
#pixel-rounding .gutter-sizer { width: 7%; }




.taxonomy-selector-uis-container {
  padding:25px;
}

#taxonomy-selection-scratchpad {
  visibility: hidden;
  overflow: hidden;
  z-index:1000;
  height:0px;
}

.taxonomy-selection-container {

}

.taxonomy-selected-container {

}

.taxonomy-selected-parent {
  padding:3px;
  margin:5px;
  background-color:#ccc;
}

.taxonomy-selected-item {
  padding:5px 15px 5px 15px;
  margin:0px;
}

#taxonomy-selector-skills-container, 
#taxonomy-selector-learnSkills-container, 
#taxonomy-selector-interests-container {
  padding:10px 30px 10px 30px;
}

#taxonomy-selection-skills-container, 
#taxonomy-selection-learnSkills-container, 
#taxonomy-selection-interests-container {

}

#taxonomy-selected-skills-container, 
#taxonomy-selected-learnSkills-container, 
#taxonomy-selected-interests-container {

}

#taxonomy-selector-search-button-container {
  text-align:center;
  padding:20px;
}

