<%= form_with(model: project_tag, local: true) do |form| %>
  <% if project_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_tag.errors.count, "error") %> prohibited this project_tag from being saved:</h2>

      <ul>
        <% project_tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
