html
	head

	body
		#mailModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header.form-group-row
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						h4.modal-title Contact the Team Leader
					.modal-body.form-group-row
						form#contactTeam(action='', method='')
							p To:
								span#teamLeader
							p	At:
								span#teamEmail
							textarea#guideTxt(name='guideTxt', placeholder='Send a message and questions to the Team Leader using this email form. \We will not reveal your email address (it will be anonymized), but you will receive a reply directly to the email you checked in with. \Your goals, skills and interests as given to the matching wizard will be appended to your message automatically.')
							textarea#userMsg(name='message-to-team', placeholder='Go ahead and start a conversation about how you can help!' autofocus)
							div#confirm_sent.btn--hidden
								h4 Your message has been sent to the Team Leader. You will receive a response at the email you used at checkin, although your email address will be anonymized.
					.modal-footer.form-group-row
						button.btn.btn-default.button__more-margins(type='button', data-dismiss='modal' id='modalClose') Close
						button.btn.btn-primary.button__more-margins(role="button" data-toggle="modal" data-target="#confirmSent" type='button' id='sendMsg') Send Message

		#confirmSent.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">x</button>
						h4.modal-title Message sent to the Team Leader!
