div.send-msg.send-msg--hidden

	form#contact_form(action = "" method="get")
		fieldset
			legend Contact the Team Leader
			textarea#comment(name = "message-to-team")
			input(type="submit" class="btn btn-info btn-lg" id="SentMsgToTeam" name="Send message")
			div#cancelform
				h4.el-cancel X
			div#confirm_sent
					h4 Your message has been sent to the Team Leader. You will receive a response at the email you used at checkin, although your email address will be anonymized.
