html
	head

	body
		#savedProjsModal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						<button type="button" class="close" data-dismiss="modal"  aria-hidden="true">x</button>
						h4.modal-title You have bookmarked these projects:
							span
							span
							span
							span
							span
							span
							span
							span
							span
							span
				
