#userSelects.row.container
  section.col-sm-3.no-left-margin
    div#labels2cselections.selection_bar Skills to contribute
      span.s2cselections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labels2lselections.selection_bar Skills to learn
      span.s2lselections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labelintSelections.selection_bar Civic interests
      span.intSelections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labelgoalSelections.btn--hidden Goals
      span.goalSelections.glyphicon.glyphicon-chevron-down
.row.container
  section.col-sm-3.no-left-margin
    div.selection_box#chosens2cselections
  section.col-sm-3.no-left-margin
    div.selection_box#chosens2lselections
  section.col-sm-3.no-left-margin
    div.selection_box#chosenintSelections
  section.col-sm-3.no-left-margin
    div.btn--hidden#chosengoalSelections

#s2cselections.container.containerSelList.btn--hidden
  .row
    .model.btn--hidden This is a model
    .nic

#s2lselections.container.containerSelList.btn--hidden
  .row
    .model.btn--hidden This is a model
    .nic

#intSelections.container.containerSelList.btn--hidden
  .row
    .model.btn--hidden This is a model
    .nic

#goalSelections.container.btn--hidden
  .row
    .model.btn--hidden This is a model
    .nic
  
