#userSelects.row.container
  section.col-sm-3.no-left-margin
    div#labels2cselections.selection_bar Skills to contribute
      span.s2cselections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labels2lselections.selection_bar Skills to learn
      span.s2lselections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labelintSelections.selection_bar Civic interests
      span.intSelections.glyphicon.glyphicon-chevron-down
  section.col-sm-3.no-left-margin
    div#labelgoalSelections.btn--hidden Goals
      span.goalSelections.glyphicon.glyphicon-chevron-down
.row.container
  section.col-sm-3.no-left-margin
    div.selection_box#chosens2cselections
  section.col-sm-3.no-left-margin
    div.selection_box#chosens2lselections
  section.col-sm-3.no-left-margin
    div.selection_box#chosenintSelections
  section.col-sm-3.no-left-margin
    div.btn--hidden#chosengoalSelections

#s2cselections.container.containerSelList.btn--hidden
  .row
    section.col-sm-3
      .searchTerms
      .model1.btn--hidden This is a model
      .nic1
    section.col-sm-3
      .searchTerms
      .model2.btn--hidden This is a model
      .nic2
    section.col-sm-3
      .searchTerms
      .model3.btn--hidden This is a model
      .nic3
    section.col-sm-3
      .searchTerms
      .model4.btn--hidden This is a model
      .nic4

#s2lselections.container.containerSelList.btn--hidden
  .row
    section.col-sm-3
      .searchTerms
      .model1.btn--hidden This is a model
      .nic1
    section.col-sm-3
      .searchTerms
      .model2.btn--hidden This is a model
      .nic2
    section.col-sm-3
      .searchTerms
      .model3.btn--hidden This is a model
      .nic3
    section.col-sm-3
      .searchTerms
      .model4.btn--hidden This is a model
      .nic4

#intSelections.container.containerSelList.btn--hidden
  .row
    section.col-sm-3
      .searchTerms
      .model1.btn--hidden This is a model
      .nic1
    section.col-sm-3
      .searchTerms
      .model2.btn--hidden This is a model
      .nic2
    section.col-sm-3
      .searchTerms
      .model3.btn--hidden This is a model
      .nic3
    section.col-sm-3
      .searchTerms
      .model4.btn--hidden This is a model
      .nic4
#goalSelections.container.btn--hidden
  .row
    section.col-sm-3
      .searchTerms
      .model.btn--hidden This is a model
      .nic
    section.col-sm-3
      .searchTerms
      .model.btn--hidden This is a model
      .nic
    section.col-sm-3
      .searchTerms
      .model.btn--hidden This is a model
      .nic
    section.col-sm-3
      .searchTerms
      .model.btn--hidden This is a model
      .nic
