.container
    nav.navbar.navbar-light.bg-faded.navbar-fixed-top
      div.container
        div.row(height="60px" position="relative").navigation
          <a class="navbar-brand brigade-brand" href="/"><img class="brigade-logo" src="http://i.imgur.com/hvFv1ow.png" height="100%" object-fit="contain"></a>
          ul.nav.nav-pills.hidden-sm-down.pull-right
            li<a class="nav-link" href="/events">Events</a>
            li<a class="nav-link" href="/projects">Projects</a>
            li<a class="nav-link" href="/blog">Blog</a>
            li<a class="nav-link" href="/datascience">Data Science</a>
            li<a class="nav-link" href="/contact">Contact</a>
