
.container
  nav.navbar.navbar-light.bg-faded.navbar-fixed-top
    .dropdown.show
      a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        | Checked in as email
      .dropdown-menu(aria-labelledby='dropdownMenuLink')
        a.dropdown-item(href='#') Check out of brigadehub
