
div.collapse#top-nav

  nav.navbar.navbar-default
    div.container.container-fluid
      div.navbar-header
        strong
          a.navbar-brand(href="#") Project Match

      ul.nav.navbar-nav.navbar-right
        li 
          a(href="#") Log In
