div.collapse.in#landing-intro(style="width:970px;")

  div.jumbotron
    
    div.row
      div.col-md-6.align-top
        h2 Welcome to Project Match!
        
      div.col-md-6.align-top
        a.nav-close.pull-right(href="javascript:ProjectMatch.uiActivateNavigation();") &times;

    div.row(style="padding-top:20px;")

      dov.col-md-12

        p
          | 1. Select skills you can contribute, what you'd like to learn, and interests.
        p
          | 2. Project Match returns a sorted list of relevant civic projects.
