html
  head

  body
    #selectorModal.modal.container.fade
      .modal-dialog
        .modal-content
          .modal-header
            #selectTemplate
              h4.modal-title Mark all your skills and interests:
                form#s2cselections
                  fieldset
                    legend#selectorBase
                      #Lvl1Base.row.btn--hidden
                        section.col-sm-3
                          h4.mainCat lvl1
                      #Lvl2Base.row.btn--hidden
                        section#Lvl2base.col-sm-12
                          .form-check
                            label.form-check-label
                              input.form-check-input(type="checkbox" name="")
                              span.subCat.h5 lvl2
                      fieldset
                        .detailLvl.row
                          section.detailLvl.col-sm-4.btn--hidden
                            .form-check
                              label.form-check-label
                                input.form-check-input(type="checkbox" name="" )
                                span.detailLvl.h5 Skill detail

                    legend#taxSkillsForm

                    #submit
                      .form-group.row
                        .offset-sm-2.col-sm-10
                          button.btn.btn-primary(type="submit") Submit
                          button.btn.btn-primary(type="reset") Clear all
