extends layout

block content
	div(align="center")
		form
			fieldset
				h1 Brigade Matchmaker
				div(id="login")
				input(width="100%", type="button", id="firstNext", class="git-login action-button", value="Continue with GitHub")


