/**
/* This section is the Wizard selector results and is under construction
/* For testing this is called from http://localhost5465/matching
/*
*/


extends layout

block content
	body
	div.container-maxWidth970
		div.large-hero
			p You are matched! Explore the details of the project teams, and connect to the teams that you are interested in. When you connect, a message with your profile and email will be sent to the project team lead(s).

		h1.h1--more-margin.h1--icon-before.brigadeSF-font-fam  You searched for:
		div(id="matchingConfigs-list")


		h1.h1--more-margin.brigadeSF-font-fam  Your matching projects:
		div(id="projects-list")

		<br />
		div.text-center
			div.btn-group(role="group" aria-label="...")
				button(type="button" class="btn btn-warning") Back
				button(type="button" class="btn btn-info") Home
				button(type="button" class="btn btn-primary") Restart the Matching Hat wizard

		div.modal-email
			h2 Get in Touch with the Team Leader

block script

	// NOTE: put the dot after script(). and the js is rendered only for client interpretation
	script().

		jQuery(document).ready(function () {

			jQuery.ajax({
				url: '/api/user/matches?skills=javascript,python&interests=housing&goals=developer,presenter'
			}).done(function (matchresults) {
				//console.log('Now have the usermatch Ajax call results: ', matchresults.projects);
				if (typeof matchresults.projects !== 'undefined' && matchresults.projects[0]) {
					var html = '<div class="row match-cfg-heading">';
					html+= '<section class="section__matchGoal col-sm-4 col-xs-push-0"><h3 class="config">Goals</h3></section>';
					html+= '<section class="section__matchSkill col-sm-4 col-xs-push-0"><h3 class="config">Skills</h3></section>';
					html+= '<section class="section__matchInterest col-sm-4 col-xs-push-0"><h3 class="config">Interests</h3></section>';
					//html+= '</div>';
					//jQuery('#matchingConfigs-list').append(html);
					//html = '<div class="row mitem">';
					html+= '<span class="row">'
					html+= '<section class="section__matchGoal col-sm-4 col-xs-push-0">';
						for (i = 0; i < matchresults.goals.length; i++ ) {
							html += '<span class="mitem">' + matchresults.goals[i] + '</span>';
						}
						html += '</section>';
						html+= '<section class="section__matchSkill col-sm-4 col-xs-push-0">';
						for (i = 0; i < matchresults.skills.length; i++ ) {
							html += '<span class="mitem">' + matchresults.skills[i] + '</span>';
						}
						html += '</section>';
						html+= '<section class="section__matchInterest col-sm-4 col-xs-push-0">';
						for (i = 0; i < matchresults.interests.length; i++ ) {
							html += '<span class="mitem">' + matchresults.interests[i] + '</span>';
						}
					html += '</span></section>';
					html+= '</div>';
					jQuery('#matchingConfigs-list').append(html);
					//
					// Now, run through the user matching projects, and output details
					// in the project list style
					for (q = 0; q < matchresults.projects.length; q++) {
						console.log('sending to output (I hope) proj id ', matchresults.projects[q] )
						listMatchingProjects(matchresults.projects[q]);
					}

					//listMatchingProjects(matchresults); //Call function now to write out the projects
				}

				}).fail(function (err) {
				console.error(err); return;
			});
		})	  //interest/skill/goal selections now output, next come the matching projects




		function listMatchingProjects(matchingProject) {
			console.log('At top of LMP with project ', matchingProject.id);
			jQuery.ajax({
				url: '/api/projects'
			}).done(function (results) {
				var proj_exists = 'false';
				if (typeof results.projects !== 'undefined' && results.projects[0]) {
					results.projects.forEach(function (proj, idx) {
						console.log('inside the output fn() with ', matchingProject.id);
						if(proj.name === matchingProject.id) { // this is a hit, add details and output
							outputProjectInfo(proj);
							proj_exists = 'true';
						}
					})
					console.log(matchingProject.id, proj_exists)
					if (proj_exists === 'false') {
						outputNotFoundInfo(matchingProject.id);

					}
				}

			}).fail(function (err) {
				console.error(err); return;
			})
		}

		function outputNotFoundInfo(projNotFound) {
			var not_proj = {}
				not_proj.name = projNotFound,
				not_proj.description = 'Not Found';
				not_proj.matchingConfig = {};

			outputProjectInfo(not_proj);
		}


		function outputProjectInfo(proj) {
			var html = '';
			var html = '<div class="row projects-list__row--projects">';
			html+= '<section class="col-sm-2 col-xs-push-0">';
			html+= '<span class="row"><img src="http://i.imgur.com/hvFv1ow.png"  class="img-responsive project-list__img" alt="team icon"></img></span></section>';
			// add dummy section since SF logo takes up a lot of width
			html+= '<section class="col-sm-2 col-xs-push-0">';
			html+= '<span class="row">' + '</span></section>';
			html+= '<section class="col-sm-2 col-xs-push-0">';
			html+= '<span class="row">' + 'Project Leader' + '</span></section>';
			html+= '<section class="col-sm-4 col-xs-push-0">';
			html+= '<span class="row">' + proj.name + '</span></section>';

			console.log('Now printing row for  ', proj.name);


			html+= '<section class="col-sm-4 col-xs-push-0">';
			html+= '<span class="row">' + proj.description + ' This project needs a mission statement showing how the team will foster social progress.' + '</span></section></div>';

			var Configs = proj.matchingConfig;
			html+= '<div class="row projects-list__row--rolesskillsints">';  //Start next row for the same project - configs

			Object.keys(Configs).forEach(key => {
				html+= '<section class="project-list__row-interests-set col-sm-4 col-xs-push-0">';
				var str = String(key);
				html+= '<span class="text-info"><strong> ' + str.substring(0, str.indexOf("Needed")) + '</strong></span></section>';

			})
			html+= '</div>';
			var Configs = proj.matchingConfig;
			html+= '<div class="row projects-list__row--project-needs">';  //Start next row for the same project - configs
			Object.keys(Configs).forEach(key => {
				html+= '<section class="section__project-needs col-sm-4 col-xs-push-0">'  //start section
				for(k = 0; k < proj.matchingConfig[key].length; k++ ) {
					console.log('Configs are: ' + proj.matchingConfig[key][k])
					html+= '<div class="project-list__row-cfgs-badges">' + proj.matchingConfig[key][k] + '</div>';
				}
				html+= '</section>'; //close the section for this category of matching configs
			})
			html+= '</div>';
			html+= '<div "class=row row--separator"><br /></div>';
			jQuery('#projects-list').append(html);


		}
