extends layout

block content
	br
	h1 Welcome
	p You are now checked-in! Whether you are a coder or non-coder, welcome to Code for SF.
	p Feel free to browse all our civic hack night projects and message team leads.
	p Uncertain about the best-fitting project teams?  Use 'Matching Hat' to identify project teams that fit your skills, interests and goals.

	input(type="button", name="go-to-wizard", class="matching-hat", value="Previous")