extends layout.jade
block content

  div.collapse.in#landing-intro

    div.jumbotron
      
      row
        col-md-6.align-top
          
        col-md-6.align-top
          a.nav-close.pull-right(href="javascript:ProjectMatch.uiActivateNavigation();") &times;

      h1 Project Match

      row
        col-md-12
          p
            | Fill out your skills, what you want to learn, and interests.
          p
            | Project Match will connect you to civic projects.


  div.container.container-maxWidth970
    div(id="taxonomy-selector-container")
      | Taxonomy Selector To Go Here
    div(id="project-list-container")

  link(rel="stylesheet" href="/components/project-list/css/style.css")
  link(rel="stylesheet" href="/components/taxonomy-selector/styles/taxonomy-selector.css")

  script(src='/components/project-list/js/lib/require.js')
  script(type='text/javascript').

    require.config({
      baseUrl: '/components',
      paths: {
        jquery: 'project-list/js/lib/jquery',
        handlebars: 'project-list/js/lib/handlebars',
        'handlebars.runtime': 'project-list/js/lib/handlebars.runtime',
        backbone: 'project-list/js/lib/backbone',
        text: 'project-list/js/lib/text',
        underscore: 'project-list/js/lib/underscore',
        localstorage : 'project-list/js/lib/backbone.localStorage',
        lockr: 'project-list/js/lib/lockr',
        boostrap: 'project-list/js/lib/bootstrap.min.js',
        projlistview: 'project-list/js/views/ProjectView',
        projlistmodel:  'project-list/js/models/ProjectModel',
        projlisttemplate: 'project-list/js/templates/projects',

        masonry: 'taxonomy-selector/js/masonry/masonry-4.2.0.pkgd',
        taxsel: 'taxonomy-selector/js/project-match/taxonomy-selector',
        taxselmodel: 'taxonomy-selector/js/project-match/taxonomy-model',
        taxseltemplate: 'taxonomy-selector/templates/container'
      }
    });
    
    require(['projlistview','projlistmodel','taxsel', 'taxselmodel'], 
      function(ProjectView, ProjectModel, TaxonomySelector, TaxonomyModel) {

      // project list component
      projView = new ProjectView({
        skills: ["java", "react"],
        interests: ["webDev"],
        learning: ["node"]
       });

      // taxonomy selector component
      ProjectMatch.TaxonomySelector.init({
        generateMatchCb: function () {
          projView.searchProjects({
            "skills":["client-dev/javascript"],
            "learnSkills":[],
            "interests":[],
          })
        }
      });

    });


