extends layout.jade
block content

  div.collapse.in#landing-intro

    div.jumbotron
      
      row
        col-md-6.align-top
          
        col-md-6.align-top
          a.nav-close.pull-right(href="javascript:ProjectMatch.uiActivateNavigation();") &times;

      h1 Project Match

      row
        col-md-12
          p
            | Fill out your skills, what you want to learn, and interests.
          p
            | Project Match will connect you to civic projects.


  div.container.container-maxWidth970
    div(id="taxonomy-selector-container")
    div(id="project-list-container")

  link(rel="stylesheet" href="/components/project-list/css/style.css")
  script(src='/components/project-list/js/lib/require.js')
  script(type='text/javascript').
    
    require.config({
      baseUrl: '/components/project-list/js',
      paths: {
        jquery: 'lib/jquery',
        handlebars: 'lib/handlebars',
        backbone: 'lib/backbone',
        text: 'lib/text',
        underscore: 'lib/underscore',
        localstorage : 'lib/backbone.localStorage',
        lockr: 'lib/lockr',
        boostrap: 'lib/bootstrap.min.js'
      }
    });
    
    require(['views/ProjectView'], function(ProjectView) {
       new ProjectView({
          skills: ["java", "react"],
          interests: ["webDev"],
          learning: ["node"]
       });
    });

