input[type=text], label {
    display: block;
}
#wizardcards {
	width: 512px;
	margin: 50px auto;
  margin-top: 100px;
	position: relative;
}

#wizardcards fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#wizardcards fieldset:not(:first-of-type) {
	display: none;
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #666666;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
	width: 20%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 60px;
	line-height: 60px;
	display: block;
	font-size: 0px;
	background: #666666;
	border-radius: 100%;
	margin: 0 auto 5px auto;
}

#progressbar li:after {
	content: '';
	width: 90%;
	height: 5px;
	background: #666666;
	position: absolute;
	left: -50%;
	top: 26px;
	z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

#progressbar li.active:before,  #progressbar li.active:after{
	background: #6699CC;
	color: #666666;
}
