.signpost-icon__before::before {
  content: url('file../../DesignAssets/signs-lite-blu.png');
}

.mail-icon__centered {
  position: relative;
  top: 50%;
  left: 45%;
  margin-top: 28px;
  transform: scale(2,2);
}
