
.modal-header {
  background-color: rgba(242, 247, 246,.7);
  }

.align-right {
  align-items: right;
}

#guideTxt {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
      border: none;
      width: 100%;
      height: 9rem;
      font-size: 1.5rem;
      line-height: 2rem;
}

#userMsg {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      height: 20rem;
      font-size: 1.5rem;
      line-height: 2rem;
      }

.modal--savedProjs {
  display: block;
}
