/**
/* html and css snippets from http://bootsnipp.com/snippets/featured/registration-form
/* Bootstrap compatible forms
*/

.h1--icon-before::before {
  content: url('file../../DesignAssets/signs-lite-blu.png');
  margin-right: 1rem;
  margin-left: -10px;
}

.saveIt__centered {
  position: relative;
  margin-top: 16px;
  width: 100px;
  padding: 6px 6px;
}

.mail-icon__centered {
  position: relative;
  width: 100px;
  top: 50%;
  padding: 6px 6px;
  margin-top: 28px;
}

.match-cfg-heading {
  outline-color: red;
	font-size: 1rem;
	font-weight: 400;
	text-align: left;
}

.match-cfg-heading + * {
  clear: both;
}

.section__matchGoal {
  display: inline-block;
  height: 4rem;
	}


.section__matchSkill {
  display: inline-block;
  height: 4rem;
  }

.section__matchInterest {
  display: inline-block;
  height: 4rem;
  }

.section--remove-left-padding {
  padding-left: 0;
}
/* User's match config items (the search parameters) = mitem */
.mitem {
  color: black;
	font-size: 1.5rem;
	font-weight: 300;
	padding: 0 5px;
	text-align: center;
}

.welcome-interests {
	font-size: 1.8rem;
	margin: 20px auto;
}


.centered-form {
	margin-top: 60px;

}

.row {
	padding-top: 0px;
	padding-bottom: 0px;
}

.projects-list__project-container {
	font-size: 1.75rem;
	padding: 0 8.333% 0 16.667%;
	}

.container-maxWidth970-no-top-pad {
  padding-top: 10px;
  margin: 10px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  background-color: #eaeff7;
}

.row--proj-container div {
  padding-top: 6px;
  padding-bottom: 6px;

}

.row--proj-info1 {
  height: 87px;
  overflow: hidden;
}

.row--project-matchConfigs {
    height: 87px;
    overflow: hidden;
    padding-top: 6px;
    padding-bottom: 6px;
}
.project-thumbnail {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 0;
    border-radius: .25rem;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e6e6e6;
    box-shadow: none;
    float: left;
}


.panel--interests {
	background: rgba(255, 255, 255, 0.8);
	border-style: groove;
	border-width: 2px;
	border-color: black;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-heading {
	border-style: solid;
	border-width: 1px;
	padding: 5px 15px;
}

.input-selector {
	display: block;
	font-size:	2rem;
	width: 300px;
	margin-bottom: 20px;
}

.int-input-lg {
	font-size: 2rem;
	margin-bottom: 10px
}

.int-input-sm {
	font-size: 1.6rem;
	font-weight: lighter;
	font-style: oblique;
	margin-left: 10px;
}

.h1--more-margin {
  margin-top: 30px;
	margin-left: 500px;
}
