/**
/*
/*  Styles from Brigade beta
*/

.row--nav-bold-bg {
  background-color: rgba(102,178,255,.5);
}

.row--nav-padded {
  padding-left: 50px;
  padding-right: 50px;
}

.row--nav-tall {
  height: 80px;
}


.navbar {
  padding-top: 0;
  font-size: 2rem;

  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);

  @include row-nav {
    a.navbar-brand {
      top: -15%;

      height: 100px;
    }
    .navbar-nav .nav-item {
      height: 50px;
      a {
        padding-top: 10px;
      }
    }
  }
  .row.navigation {
    border-top: none;
  }
  .row.account {
    height: 10px;
    margin-bottom: 10px;
    img {
      height: 0;
    }
    .dropdown-toggle {
      height: 10px;
      padding: 2px 0;
      img {
        top: 26px;

        height: 0;
      }
    }
  }
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-item {
  font-size: 120%;
  padding-left: 10%;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
