/**
/* html and css snippets from http://bootsnipp.com/snippets/featured/registration-form
/* Bootstrap compatible forms
*/

#projects-list {}
.row {
	padding-top: 0px;
	padding-bottom: 0px;
}

.projects-list__project-container {
	font-size: 1.75rem;
	padding: 0 8.333% 0 16.667%;

	}

.row--margin-left {
	margin-left: 15px;
}

.row__projects-list-box {
	border-style: solid;
	color: gray;
	border-width: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.Xprojects-list {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	padding: 1px 16px 1px 16px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.row__projects-list--info {
	/*background: rgba(102, 102, 255, 0.4);*/
}

.row__projects-list--cfg {
	padding-top: 0px;
	padding-bottom: 0px;
	/*background: rgba(55, 102, 255, 0.4);*/
}

.row__projects-list--cfg-2 {
	height: 4rem;
	border-style: solid;
	border-width: 0 0 1px 0;
	padding-top: 0px;
	padding-bottom: 0px;
	/*background: rgba(55, 102, 255, 0.4);*/
}
.capital:first-letter 	{
	text-transform: uppercase;
}

.row__projects-list--info-2 {

}

.row__projects-list--info-1 {
	border-style: solid;
	border-width: 1px 0 0 0;
}

.row--separator {
	display: block;
	height: 2rem;
}

.row__projects-list--info-2 .btn {
	margin-top: 26px;
	font-size: 1.75rem;
}

.projects-list__row--projects {
	border-collapse: collapse;
/*	background: rgba(102, 102, 255, 0.4); */
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
	height: auto;
	overflow: hidden;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.pName {
	text-align: center;
	margin-top: 0px;
	font-size: 2.2rem;
	font-weight: 400;
}

.pSkills {
	font-size: 1.8rem;
	font-weight: 300;
}

.btn-less-padding {
	padding-left: 2px;
	padding-right: 2px;
	color: #000;
}

.skiIntGoa {
	padding-top: 12px;
}

span.glyphicon-send {
	line-height: inherit;
	vertical-align: text-bottom;
		margin-top: px;
    font-size: 2.2rem;
		color: black;
}

span.glyphicon-pushpin {
	line-height: inherit;
	vertical-align: text-bottom;
		margin-top: px;
    font-size: 2.2rem;
		color: black;
}

.glyphicon-asterisk {
		line-height: inherit;
		vertical-align: text-bottom;
		margin-top: px;
		font-size: 2.2rem;
		color: black;
}

span.glyphicon-envelope-text {
	line-height: inherit;
		margin-left: 10px;
    font-size: 1.8rem;
		font-weight: 300;
}

.pGlyphs {
	padding-top: 0px;
	line-height: 250%;
}

.pMission {
	margin-top: 1rem;
	font-size: 1.7rem;

}
