.tabs {
    display: flex;
    justify-content: center;
}

.tab-name {
    border-bottom: 2px solid lightgray;
    color: lightgray;
    font-family: sans-serif;
    font-size: .9em;
    font-weight: 100;
    padding: .5em;
    cursor: pointer;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.category-title {
    font-family: sans-serif;
    margin: 1em 1em 0 0;
}

.tag-container .tag {
    border: 1px solid gray;
    border-radius: .2em;
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 300;
    margin: .5em;
    padding: .3em;
    cursor: pointer;
}

.tag::after {content: " +";}

.subcategory-title {
    font-family: sans-serif;
    font-size: .8em;
    margin-left: .5em;
    margin-top: 1em;
}

.view-inactive {display: none;}

.tab-name-active {
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
    margin-bottom: .1em;
    padding-bottom: .1em;
}

.selector-container {
    padding: 1em;
    width: 100%;
    /*height: 500px;,*/
    overflow-y:auto;
}

.view-active {display: flex;}

.selector-btn {
    border: gray 1.5px solid;
    display: flex;
    flex-direction: column;
    margin: 2em 2em 1em 2em;
    min-height: 7em;
    padding: .5em;
    width: 15em;
}

.selector-btn-header {
    display: flex;
    justify-content: space-between;
}

.selector-btn-header .name {
    font-family: sans-serif;
    font-weight: 300;
}

.selector-btn-header .add-btn {
    padding-top: 3px;
    font-family: sans-serif;
    font-size: .8em;
    cursor: pointer;
}

.selector-tag-container {
    display: flex;
    flex-wrap: wrap;
}

.selected-tag {
    border: 1px solid gray;
    border-radius: .2em;
    color: white;
    font-family: sans-serif;
    font-size: .8em;
    font-weight: 300;
    margin: .5em;
    padding: .3em;
}

.selected-tag::after {content: " x";}

.modals {
    background: #fff;
    border: 1.5px black solid;
    border-radius: 10px;
    color: black;
    display: none;
    left: 0;
    margin-left: 2em;
    min-height: 200px;
    position: absolute;
    width: 95%;
    z-index: 200;
}

.modals.show-modals {
    background: white;
    display: block;
}

.selector-btn-active {background: white;}

.selector-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.gray-background {background: lightgray;}

.taxonomy-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: .5px solid lightgray;
    padding: 1em;
}
.tab-view {
    max-height: 300px;
    overflow-y:scroll;
}

.tab-view-active {
    display: flex;
    flex-direction: column;
}

.tab-view-inactive {display: none;}

.generate-button-container {
    display: flex;
    justify-content: center;
}

.generate-button {
    align-items: center;
    background-color: #17A277;
    border-radius: 3px;
    color: white;
    display: flex;
    font-family: sans-serif;
    height: 2.5em;
    justify-content: center;
    margin-top: 25px;
}

#container1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#container3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
