[Unit]
Description=Brigade Matchmaker Web
Documentation=https://github.com/designforsf/brigade-matchmaker
After=network.target mongod.service

[Service]
Environment=NODE_PORT=5465
Environment=NODE_VERSION=6.9.5
Type=simple
User=vagrant
ExecReload=/opt/nvm/nvm-exec npm install
ExecStart=/opt/nvm/nvm-exec node app.js
Restart=on-failure
WorkingDirectory=/opt/brigade-matchmaker/components/web

[Install]
WantedBy=multi-user.target
