extends ../layout

block content
	.container.container-maxWidth970
		img(src="../codeforsfstart.png")
		div(align="center")
		form
			fieldset
				h1.text-center Brigade Matchmaker
				div.text-center
					div.btn-group(role="group" aria-label="...")
						a(href="/login").btn.btn-primary.button__more-margins Check-in
