certifi==2018.8.13
chardet==3.0.4
dataclasses==0.6
defusedxml==0.5.0
Django==2.2.10
django-allauth==0.37.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
djangorestframework-jsonapi==2.5.0
djongo==1.2.29
idna==2.7
inflection==0.3.1
oauthlib==2.1.0
pkg-resources==0.0.0
pymongo==3.7.1
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
selenium==3.14.0
six==1.11.0
sqlparse==0.2.4
urllib3==1.26.5
