/* GLOBAL */

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TEXT RENDERING */

/* LAYOUT */

div.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

/* COMPONENT STYLING */

div.tag {
  border: 1px solid #AA193A;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  cursor: default;
  font-family: sans-serif;
  font-size: .8em;
}
