  
<div class="container">

  <div class="row" id="taxonomy-selected-display">
    <div class="col-md-4" id="taxonomy-selected-skills-container">
      <h3>What I can contribute</h3>
      <div class="well" id="taxonomy-selected-skills">&nbsp;</div>
    </div>
    <div class="col-md-4" id="taxonomy-selected-learnSkills-container">
      <h3>What I'd like to learn</h3>
      <div class="well" id="taxonomy-selected-learnSkills">&nbsp;</div>
    </div>
    <div class="col-md-4" id="taxonomy-selected-interests-container">
      <h3>My interests</h3>
      <div class="well" id="taxonomy-selected-interests">&nbsp;</div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4" 
      class="taxonomy-selector-container" 
      id="taxonomy-selector-skills-container">
        <a>Choose skills to contribute</a>
        <span class="contributeSkillsSelections glyphicon glyphicon-chevron-down" style="padding:5px;"></span>
    </div>

    <div class="col-md-4" 
      class="taxonomy-selector-container" 
      id="taxonomy-selector-learnSkills-container">
        <a>Choose skills to learn</a>
        <span class="contributeSkillsSelections glyphicon glyphicon-chevron-down" style="padding:5px;"></span>
    </div>

    <div class="col-md-4" 
      class="taxonomy-selector-container" 
      id="taxonomy-selector-interests-container">
        <a>Choose civic interests</a>
        <span class="contributeSkillsSelections glyphicon glyphicon-chevron-down" style="padding:5px;"></span>
    </div>

  </div>

  <div id="taxonomy-selection-display"></div>

</div>

<div id="taxonomy-selection-scratchpad">
  <div class="taxonomy-selection-container" id="taxonomy-selection-skills-container">
    <h3>Skills to Contribute</h3>
    <div id="taxonomy-selection-skills"></div>
  </div>
  <div class="taxonomy-selection-container" id="taxonomy-selection-learnSkills-container">
    <h3>Skills to Learn</h3>
    <div id="taxonomy-selection-learnSkills"></div>
  </div>
  <div class="taxonomy-selection-container" id="taxonomy-selection-interests-container">
    <h3>Civic Interests</h3>
    <div id="taxonomy-selection-interests"></div>
  </div>
</div>
