.button__horiz-group {
	-ms-flex-line-pack: center;
	    align-content: center;
	font-size: 2rem;
}

.button__more-margins {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 25px;
}

input[type=submit].btn-block__smaller {
	text-align: center;
	width: 25%;
}
