/**
/* html and css snippets from http://bootsnipp.com/snippets/featured/registration-form
/* Bootstrap compatible forms
*/

.h1--icon-before::before {
  content: url('file../../DesignAssets/signs-lite-blu.png');
}

.mail-icon {

}

.mail-icon__centered {
  position: relative;
  top: 50%;
  left: 35%;
  margin-top: 28px;
  -webkit-transform: scale(1.75,1.75);
          transform: scale(1.75,1.75);
}

div#matchingConfigs-list {
  width: 100%;
  padding-left: 16.667%;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.match-cfg-heading {
  outline-color: red;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}
.match-cfg-heading + * {
  clear: both;
}

.section__matchGoal {
  display: inline-block;
  height: 2.5rem;
  overflow:hidden;
	background-color: rgba(153,51,255,.2);
}

.section__matchSkill {
	background-color: rgba(255,255,0,.2);
}

.section__matchInterest {
	background-color: rgba(0,255,0,.2);
}

/* User's match config items (the search parameters) = mitem */
.mitem {
	font-size: 1rem;
	font-weight: 300;
	padding: 0 5px;
	text-align: center;
}

.welcome-interests {
	font-size: 1.8rem;
	margin: 20px auto;
}


.centered-form {
	margin-top: 60px;

}

.panel--interests {
	background: rgba(255, 255, 255, 0.8);
	border-style: groove;
	border-width: 2px;
	border-color: black;
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.panel-heading {
	border-style: solid;
	border-width: 1px;
	padding: 5px 15px;
}

.input-selector {
	display: block;
	font-size:	2rem;
	width: 300px;
	margin-bottom: 20px;
}

.int-input-lg {
	font-size: 2rem;
	margin-bottom: 10px
}

.int-input-sm {
	font-size: 1.6rem;
	font-weight: lighter;
	font-style: oblique;
	margin-left: 10px;
}

.h1--more-margin {
	margin: 3rem 0;
}
