/**
/*
/*  Styles from Brigade beta
*/

.row--nav-bold-bg {
  background-color: rgba(102,178,255,.5);
}

.row--nav-padded {
  padding-left: 50px;
  padding-right: 50px;
}

.row--nav-tall {
  height: 80px;
}


.navbar {
  padding-top: 0;
  font-size: 2rem;

  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);

  @include row-nav {
    a.navbar-brand {
      top: -15%;

      height: 100px;
    }
    .navbar-nav .nav-item {
      height: 50px;
      a {
        padding-top: 10px;
      }
    }
  }
}


.navbar .row.navigation {
  border-top: none;
}


.navbar .row.account {
  height: 10px;
  margin-bottom: 10px;
}


.navbar .row.account img {
  height: 0;
}


.navbar .row.account .dropdown-toggle {
  height: 10px;
  padding: 2px 0;
}


.navbar .row.account .dropdown-toggle img {
  top: 26px;
  height: 0;
}
