
/* 
	bootstrap overloads 
	---------------------------------------------------------
*/

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 0px;
}


/* 
	custom styles 
	---------------------------------------------------------
*/

#landing-intro {
	margin-top: 0px;
	border-bottom:1px solid #ccc;
}

#landing-intro h2 {
	margin:0px;
}

.nav-close {
  font-size: 28px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.nav-close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}