
/*
	bootstrap overloads
	---------------------------------------------------------
*/

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
	margin-bottom: 0px;
}


/*
	custom styles
	---------------------------------------------------------
*/

#landing-intro {
	margin-top: 0px;
	border-bottom:1px solid #ccc;
}

#landing-intro h2 {
	margin:0px;
}

.nav-close {
  font-size: 28px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  text-decoration: none;
}

.nav-close:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor: pointer;
}

ul.navbar-nav.ml-auto {
	list-style: none;
}

li.nav-item {
	padding: 10px;
}

.generate-button-container {
    display: flex;
    justify-content: center;
}

.generate-button {
    align-items: center;
    background-color: #17A277;
    border-radius: 3px;
    color: white;
    display: flex;
    font-family: sans-serif;
    padding: 10px;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
}

.form_control {
  margin: .5em;
}
