/* COLORS */
$tag-red: #AA193A;
$tag-green: #28a745;
$tag-white: #fff;

/* GLOBAL */

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TEXT RENDERING */

h4 {
  font-size: 1.1rem;
}

h5.project-title {
  font-size: 1.5em;
  font-weight: 600;
}

p.contact {
  margin-bottom: 0px;
}

div.contact {
  margin-left: 8px;
}

p.skills-category {
  margin-bottom: 0px;
}

/* LAYOUT */

div.project-columns {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

div.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4px;
}

div.details-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* SELECTOR COMPONENT STYLING */

.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-dialog {
  margin-top: 45vh;
}

.selector-modal-1 {
  padding-right: 16px;
  padding-left: 16px;
}

.selector-modal-2 {
  padding-right: 16px;
  padding-left: 16px;
}

.selector-modal-3 {
  padding-right: 16px;
  padding-left: 16px;
}

/* PROJECT COMPONENT STYLING */

div.project-column-1 {
  padding-top: 16px;
  padding-left: 16px;
}

div.project-column-2 {
  padding-top: 16px;
  padding-right: 16px;
}

div.project-column-right {
  padding-left: 16px;
}

div.project {
  border: 1px solid lightgray;
  box-shadow: 2px 3px 2px #ccc;
  margin: 8px;
  margin-bottom: 24px;
}

.tag-container {
  padding-bottom: 4px;
}

button.contact-button {
  background-color: $tag-green;
  color: $tag-white;
  padding: .375rem .75rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
}

summary {
  padding-top: 8px;
  text-decoration: underline;
  padding-bottom: 8px;
  padding-left: 16px;
}

ul.details {
  padding-right: 8px;
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.additional-info {
  font-size: 1em;
  padding-left: 36px;
  color: #343a40;
}

.card {
  border: none;
  align-items: center;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-header {
  background-color: white;
  border-bottom: none;
}

.card-deck {
  border-bottom: 1px solid lightgray;
}

/* TAG COMPONENT STYLING */
.tag {
  border: 1px solid $tag-red;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  cursor: default;
  font-family: sans-serif;
  font-size: .8em;
  min-width: 80px;
  text-align: center;
}

.tag.clicked {
  background-color: $tag-red;
  color: #FFFFFF;
}

/* FORMS */
@media (min-width: 400px) {
  .search-form {
    margin-left: 30px;
  }
}

.search {
  width: 150px;
  margin: 8px;
  border-radius: 8px;
  border-width: .75px;
  padding: 8px;
}

/* ADD ITEM COMPONENTS */

.selector-box {
  border: 1px solid darkgray;
  padding: 8px;
  margin: 8px;
  font-size: 1.1rem;
  font-weight: 500;
}

button.add-items {
  padding-left: 16px;
  font-size: .8rem;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
  color: #0069d9;
}
