/* COLORS */

$tag-red: #AA193A;
$tag-green: #28a745;
$tag-white: #fff;

/* GLOBAL */

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
}

/* TEXT RENDERING */

h1 {
  font-weight: 100;
  font-size: 1.7em;
  margin: 10px;
}

h5.project-title {
  font-size: 1.5em;
  font-weight: 600;
  padding: 8px;
}

h5.skills-header {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 1.2em;
  font-weight: lighter;
}

p {
  margin-top: 5px;
  font-size: 1.1em;
  color: #5E5E5E;
  padding: 8px;
}

p.contact {
  margin-bottom: 0px;
}

div.contact {
  margin-left: 8px;
}

p.skills-category {
  margin-bottom: 0px;
  color: #343a40;
}

p.contact {
  color: #343a40;
}

/* LAYOUT */

nav {
  display: flex;
  flex-wrap: wrap;
}

div.project-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid lightgray;
}

div.tag-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

div.details-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.row {
  max-width: 1140px;
  margin-left: 4px;
  margin-right: 4px;
}

/* SELECTOR COMPONENT STYLING */

.card-body {
  max-width: 350px;
  margin: 8px;
}

/* PROJECT COMPONENT STYLING */

@media screen and (min-width: 500px) {
  div.project-column-left {
    border-right: 1px solid lightgray;
  }
}

div.project-column-right {
  padding-left: 16px;
}

div.project {
  border: 1px solid lightgray;
  box-shadow: 2px 3px 2px #ccc;
  margin: 8px;
  margin-bottom: 24px;
}

button.contact-button {
  background-color: $tag-green;
  color: $tag-white;
  padding: .375rem .75rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
}

summary {
  text-decoration: underline;
}

details {
  margin-top: 8px;
  padding: 8px;
}

p.additional-info {
  font-size: 1em;
  padding-left: 36px;
  color: #343a40;
}

/* TAG COMPONENT STYLING */
div.tag {
  border: 1px solid $tag-red;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  cursor: default;
  font-family: sans-serif;
  font-size: .8em;
}

.tag.clicked {
  background-color: $tag-red;
  color: #FFFFFF;
}
