/* COLORS */
$tag-red: #AA193A;
/* GLOBAL */

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #343a40;
  text-align: left;
}

/* TEXT RENDERING */

h1 {
  font-weight: 100;
  font-size: 1.7em;
  margin: 10px;
}

h5.projectTitle {
  font-size: 1.5em;
  font-weight: 600;
}

h5.skillsHeader {
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 1.2em;
  font-weight: lighter;
}

p {
  margin-top: 5px;
  font-size: 1.1em;
  color: #5E5E5E;
  padding-right: 8px;
}

p.skillsCategory {
  margin-bottom: 0px;
  color: #343a40;
}

p.contact {
  color: #343a40;
}

/* LAYOUT */

nav {
  display: flex;
  flex-wrap: wrap;
}

div.projectCols {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid lightgray;
}

div.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

div.detailsGrid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-bottom: 1px solid lightgray;
}

/* COMPONENT STYLING */

@media screen and (min-width: 500px) {
  div.projectCol1 {
    border-right: 1px solid lightgray;
  }
}

div.projectCol2 {
  padding-left: 16px;
}

div.project {
  border: 1px solid lightgray;
  box-shadow: 2px 3px 2px #ccc;
  padding: 16px;
  margin: 8px;
  margin-bottom: 24px;
}

div.tag {
  border: 1px solid $tag-red;
  border-radius: 4px;
  padding: 4px;
  margin: 4px;
  cursor: default;
  font-family: sans-serif;
  font-size: .8em;
}

button.contact-button {
  background-color: lightgreen;
  padding: 10px;
  border: 2px solid black;
  cursor: default;
  border-radius: 4px;
}

.tag.clicked {
  background-color: $tag-red;
  color: #FFFFFF;
}

summary {
  text-decoration: underline;
}

details {
  margin-top: 8px;
}

summary {
  text-decoration: underline;
}

p.additionalInfo {
  font-size: 1em;
  padding-left: 36px;
  color: #343a40;
}
